extends layout

block content
  h1= title
  
  //- each research in researches
  //-   .col-xs-12.list-group-item
  //-     h4 
  //-       a(href="/location")= research.title
  //-       small &nbsp;
